
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
}

.big-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.card {
    background: #000000d0;
    color: #fff;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    /* min-height: 80vh; */
    min-width: 30vw;
}

.title {
    margin-bottom: 1rem;
}

.input-div {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 3rem; */
}

.input-text {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    background: #7c7c7c2b;
    color: #fff;
    font-size: 105%;
    width: 60%;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
}

.content div {
    text-align: center;
}

.submit {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    background: #7c7c7c2b;
    color: #fff;
    font-size: 105%;
    cursor: pointer;
    text-transform: uppercase;
}

.submit:hover {
    background: #7c7c7c6b;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #000000d0;
    color: #fff;
}
